.card {

    height: 300px;

    & img {

        width: 100%;

    }

}


main {

    min-height: calc(100vh - 270px);
}

footer {

    padding: 2.5rem 0;

    & button {
        background-color: white;
        border: 1px solid;
        border-radius: 1rem;
        width: 100px;
        margin: 0.75rem 0;

    }

    & button:hover {

        background-color: palevioletred;
    }

    .socials {

        list-style: none;
        text-decoration: none;

        & a {
            color: white;
            font-size: 50px;
        }

    }

}