.card {

    height: 300px;



    & img {

        width: 100%;


    }

}


main {

    min-height: calc(100vh - 279px);

}

footer {

    & button {

        background-color: rgb(0, 255, 132);
        border-radius: 1rem;

    }

}